<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manual <!--_title--></title>
    <style>
    div#footer {
    clear: both;
    height: 100px;
    }
    div#footer div.fLeft {
    float: left;
    width: 50%;
    }
    div#footer div.fRight {
    float: right;
    width: 50%;
    }
    </style>
</head>

<body>
  
    <h2 style="text-align: center">MANUAL INFORMATION</h2>
    <h2 style="text-align: center">Project : <!--_title--></h2>
    <h2>1. Devices</h2>
    <div style="text-align: center">
        <table border="1" style="text-align: center" align="center" width="50%">
            <tr>
                <th>Device</th>
                <th>Amount</th>
			</tr>
<!--device-->

        </table>
    </div>

    <h2>2. Connection table</h2>
    <div style="text-align: center">

        <table border="1" style="text-align: center" align="center" width="75%">
            <tr>
                <th>Device</th>
                <th>Pin of Controls</th>
                <th>Pin of Mainboard</th>
			</tr>
<!--details-->
			</table>
	</div>

</body>

<footer>
    <div id="footer">
        <div class="fLeft">
            <p>IoT Wearable software</p>
            <p> Author: Thuat Nguyen, Thuan Nguyen and Phuoc Ton - ESP-LAB</p>
            <p>Date : <!--dateGenCode--></p>
        </div>
        <div class="fRight">

        </div>
    </div>

</footer>
</html>
