<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.4" ?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="iotwearable.editor.MainboardEditor"
            contributorClass="iotwearable.editor.MainboardEditorActionBarContributor"
            extensions="iotw"
            icon="icons/mainboard_icon_24x24.png"
            id="iotwearable.gef.mainboardEditor"
            name="IoTWMainboard Editor">
      </editor>
      <editor
            class="iotwearable.editor.StateSchemaEditor"
            contributorClass="iotwearable.editor.StateSchemaEditorActionBarContributor"
            default="true"
            extensions="iotw"
            icon="icons/state_icon.png"
            id="iotwearable.gef.stateEditor"
            name="IoTWStateSchema Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="iotwearable.editor.commands.category"
            defaultHandler="iotwearable.editor.handlers.GenerateCodeHandler"
            id="iotwearable.editor.commands.generateCode"
            name="Generate code">
      </command>
      <command
            categoryId="iotwearable.editor.commands.category"
            defaultHandler="iotwearable.editor.handlers.CheckHandler"
            id="iotwearable.editor.commands.check"
            name="Check">
      </command>
      <category
            id="iotwearable.editor.commands.category"
            name="iotwearable.editor.commands.category">
      </category>
   </extension>
      <extension name="IoTWearable" point="org.eclipse.ui.menus">
            <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
                  <menu id="iotwearable.editor.menus" label="IoTWearable" mnemonic="M">
                        <command
                              commandId="iotwearable.editor.commands.generateCode"
                              icon="icons/gen.png"
                              id="iotwearable.editor.menus.generateCode"
                              mnemonic="S"></command>
                         
                        <command
                              commandId="iotwearable.editor.commands.check"
                              icon="icons/check_grammar.png"
                              id="iotwearable.editor.menus.check"
                              mnemonic="S"></command>
                  </menu>
            </menuContribution>
            <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
                  <toolbar id="iotwearable.editor.toolbars.generateCode">
                        <command commandId="iotwearable.editor.commands.generateCode"
                         icon="icons/gen.png" id="iotwearable.editor.toolbars.generateCode"
                          tooltip="Generate code"></command>
                  </toolbar>
                   <toolbar id="iotwearable.editor.toolbars.check">
                        <command commandId="iotwearable.editor.commands.check"
                         icon="icons/check_grammar.png" id="iotwearable.editor.toolbars.check"
                          tooltip="Check"></command>
                  </toolbar>
            </menuContribution>
      </extension>
</plugin>
